body {
  margin: 0;
  padding: 0;
}

.welcome-section {
  width: 100%;
  position: relative;
}

.welcome-section .img {
  width: auto;
  height: 500px;
}

.welcome-section .img img {
  width: 100%;
  height: 100%;
}

.welcome-section .img::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}

.welcome-section #navbar {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.welcome-section #navbar #logo h1 {
  font-family: "Parisienne", cursive;
  color: gold;
  font-size: 21px;
}

.welcome-section #navbar .menu-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.welcome-section #navbar .menu-list ul {
  list-style-type: none;
  padding: 0;
}

.welcome-section #navbar .menu-list ul li {
  display: inline-block;
  margin: 0 15px;
}

.welcome-section #navbar .menu-list ul li a {
  color: white;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
}

.welcome-section .inner-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-section .inner-section h2 {
  margin: 0 150px;
  font-size: 25px;
  line-height: 0.8;
  font-family: "Parisienne", cursive;
  color: white;
}

.welcome-section .inner-section h1 {
  margin: 24px 0;
  font-size: 72px;
  font-family: "Josefin Sans", sans-serif;
}

.welcome-section .inner-section .btn {
  display: inline-block;
  background: gold;
  min-width: 160px;
  margin: 0 120px;
  padding: 16px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.services-section {
  margin: 130px 0;
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px auto;
}

.section-title h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
}

.section-title h2 {
  font-family: "Questrial", sans-serif;
  color: grey;
  font-style: italic;
  font-size: 19px;
}

.serv {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.serv .row {
  margin: 2px auto;
}

.serv .row .box .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 7px solid gold;
  position: relative;
  margin: auto;
}

.serv .row .box .circle i {
  font-size: 35px;
  color: gold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box h1 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.box p {
  font-family: "Questrial", sans-serif;
  text-align: center;
}

.portfolio-section {
  background: #e9e4dd;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.portfolio-section .portfolio-boxes .row .box {
  margin-bottom: 55px;
}

.portfolio-section .portfolio-boxes .row .box img {
  width: 250px;
  height: 250px;
}

.portfolio-section .portfolio-boxes .row .box .portfolio-button {
  width: 250px;
  height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: white;
}

.portfolio-section .portfolio-boxes .row .box .portfolio-button a {
  text-decoration: none;
  line-height: 0.4;
  text-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.portfolio-section .portfolio-boxes .row .box .portfolio-button a h1 {
  font-family: "Josefin Sans", sans-serif;
  color: black;
}

.portfolio-section .portfolio-boxes .row .box .portfolio-button a p {
  font-family: "Questrial", sans-serif;
  font-size: 15px;
  color: grey;
  font-style: italic;
}

.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .copyrights p {
  font-family: "Questrial", sans-serif;
}

.footer .social-media .social-circle {
  background: black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  position: relative;
}

.footer .social-media .social-circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: pink;
}
/*# sourceMappingURL=style.css.map */