$first-font: 'Parisienne', cursive;
$p-font: 'Questrial', sans-serif;
$headline-font: 'Josefin Sans', sans-serif;
$main-color: black;

body {
    margin: 0;
    padding: 0;
}

.welcome-section {
    width: 100%;
    position: relative;
        .img {
            width: 100%;
            height: 500px;
                img {
                    width: 100%;
                    height: 500px;
                }
            &::after {
                content: "";
                background-color: rgba(0,0,0,.4);
                width: 100%;
                height: 500px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        #navbar {
            width:  100%;
            position: absolute;
            top: 0;
            background-color: transparent;
            display: flex;
            justify-content: space-around;
            #logo h1 {
                font-family: $first-font;
                color: gold;
                font-size: 21px;
            }
            #menu-list {
                display: flex;
                justify-content: space-between;
                width: fit-content;
                ul{
                    list-style-type: none;
                    padding: 0;
                    li {
                        display: inline-block;
                        margin: 0 15px;
                        a {
                            color: white;
                            text-decoration: none;
                            font-family: $headline-font;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
        .inner-section {
            position: absolute;
            top: 180px;
                h2 {
                    margin: 0 150px;
                    font-size: 25px;
                    line-height: 0.8;
                    font-family: $first-font;
                    color: white;
                }
                h1 {
                    margin: 24px 0;
                    font-size: 72px;
                    font-family: $headline-font;
                }
                .btn {
                display: inline-block;
                background: gold;
                min-width: 160px;
                margin: 0 120px;
                padding: 16px;
                font-size: 20px;
                text-align: center;
                text-decoration: none;
                color: white;
                font-family: $headline-font;

                }
        }
}
.section-title {
    margin: 150px auto;
    line-height: 0.2;
    width: fit-content;
    h1 {
        font-family: $headline-font;
        font-size: 35px;
    }
    h2{
        font-family: $p-font;
        color: grey;
        font-style: italic;
        font-size: 19px;
    }
}
.serv {
    display: flex;
    justify-content: space-between;
.box .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 7px solid gold;
    position: relative;
    i {
        font-size: 35px;
        color: gold;
        position: absolute;
        top: 9px;
        left: 9px;
    }
 }  
}
.box {
    h1 {
        font-family: $headline-font;
    }
    p{
        font-family: $p-font;
    }
}
.portfolio-section {
    background: #e9e4dd;
    height: fit-content;
    .box {
        img{
            width: 250px;
            height: 250px;
        }
        .portfolio-button {
            width: 250px;
            height: 70px;
            background: white;
                a {
                    font-size: 20px;
                    font-family: $first-font;
                }
                .p {
                    font-family: $p-font;
                    font-size: 15px;
                }
        }
    } 
}
.footer {
    display: flex;
    justify-content: space-around;
    .social-media {
        
        .social-circle {
            background: black;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: inline-block;
        }
    }
}
